body {
	margin: 0;
}

header {
	height: 200px;
	background-color: darkcyan;
}

.form {
	margin-left: 33%;
}

#abk {
	outline: 0;
	border: none;
	height: 40px;
	border-bottom: 2px solid darkcyan;
}

#submit {
	margin-left: 10px;
	background-color: darkcyan;
	color: white;
	cursor: pointer;
	border: 0;
	width: 170px;
	height: 40px;
	border-radius: 5px 10px;
}

.data {
	margin-left: 33%;
}

#p {
	font-size: 300%;
	text-align: center;
	color: white;
	margin: 0;
}

nav {
	background-color: #009999;
	display: flex;
	justify-content: center;
}

nav > button {
	color: white;
	width: 20%;
	background-color: #009999;
	border: 0;
	cursor: pointer;
	padding: 20px;
	font-size: 105%;
}
