<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.5">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
<title>Su borcu</title>
</head>
<body>
	<header>
		<p style="padding-top: 20px;" id="p">Abonent kodu ilə su borcunun öyrənilməsi</p>
	</header>

	<nav>
		<button>Ana səhifə</button>
		<button>Su borcu</button>
		<button>IMEI kodunun yoxlanılması</button>
		<button>Haqqımızda</button>
		<button>Əlaqə</button>
	</nav>
	
		<div class="g-l">
			<div class="form">
				<h3>Abonent kodunuzu yazaraq su borcunuzu öyrənin.</h3>
				<form action="/waterdebt" method="post">
					<input id="abk" type="number" name="abkodu" placeholder="Abonent kodu" maxlength="13">
					<button id="submit" type="submit">Borcu öyrən</button>
				</form>
			</div>

			<div class="data">

			</div>
		</div>
	<script>
		var c = '{{ code }}';
		var n = '{{ name }}';
		var d = '{{ debt }}';
	</script>
	<script>
		$(document).ready(function(){
			$("#submit").click(function(){
				$(".data")
				.animate({top: '400px;'})
				.animate({height: '+=100px'})
				.animate({width: '+=100px'})
				.css("background-color", "darkcyan")
				.html("<p>Abonent kodu: " + c + "</p>")
				.html("<p>Ad: " + n + "</p>")
				.html("<p>Borc: " + d + "</p>");
			});
		});
	</script>

</body>
</html>
